.header {
    background-color: blueviolet;
    height: 150px;
}

.content {
    background-color: aqua;
    height: 300px;
}

.foater {
    background-color: blanchedalmond;
    height: 100px;
}